<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Project Artemis</title>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="public/css/style.css"></link>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="public/js/index.js"></script>
    </head>
    <body>
        <header style="background-color:#FFF">
            <div id="top-bar" style="background-color:#337ab7;">
                <div class="container">
                    <p class="pull-left" style="margin-top:10px; color:#FFF;"><strong>Word Warehouse</strong></p>
                    <a href="mailto:info@wordwarehouse.co.za" class="pull-right" style="margin-top:10px; color:#FFF;">info@wordwarehouse.co.za</a>
                </div>
                
            </div>
            <?php if (session_status() == 2) { ?>
                <div id="bottom-bar-1">
                    <ul style="margin-top: 0px; margin-bottom:0px">
                        <div class="container">
                            <div class="nav navbar-nav navbar-left">
                                    <li id="home"><a href="index?m=index&a=dashboard">Home</a></li>
                                    <li id="about"><a href="index">My Warehouse</a></li>
                                    <li><a href="index?m=index&a=dashboard">Upload Post</a></li>
                            </div>
                            <div class="nav navbar-nav navbar-right">
                                <li><a id="sign-in-out" class="active" href="logout">Log Out</a></li>
                            </div>
                        </div>
                        <hr style="border-color:#CCC; background-color:#FFF; margin-top:0px; margin-bottom:0px;">
                    </ul>
                </div>
            <?php } else { ?>
                <div id="bottom-bar-2">
                    <ul style="margin-top: 0px; margin-bottom:0px">
                        <div class="container">
                            <div class="nav navbar-nav navbar-right">
                                <li><a id="sign-in-out" class="active" href="index">Sign In</a></li>
                            </div>
                        </div>
                        <hr style="border-color:#CCC; background-color:#FFF; margin-top:0px; margin-bottom:0px;">
                    </ul>
                </div>
            <?php } ?>
        </header>
    </body>
</html>
