<!DOCTYPE html>
<html lang="en">
    <head id="page-head">
        <meta charset="utf-8">
        <title>Project Artemis</title>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body id="page-body">

        <!-- Will want to pout content here -->
        <div id="body-content">

        </div>

        <div class="container">
            <footer>
                <hr class="top-border-black"/>
                <div class="row center">
                    <br />
                    <div id="copyright-information" style="text-align: center;">
                        <p style="color:#000000">&copy; <?php echo date('Y'); ?> by Paul Cupido</p>
                        <br />
                    </div>
                </div>
            </footer>
        </div>    
    </body>
</html>
