
<div id="post-heading" class="no-margin">
	<!-- Insert personal image here -->
	<div class="jumbotron no-margin" id="">

	</div>
</div>

<div class="content" style="background-color: #F1F1F1">
	<div class="container" >
		<br />
		<div class="col-md-8 col-md-offset-2" style="font-size:18px;">
			<p>Paul Cupido is a full-time programmer and (sometimes) writer living in Cape Town, South Africa. He enjoys playing and discussing video games, ballroom dancing and - occasionally - writing. </p>
			<br />
			<p>He has written one collection of short stories entitled: The Pink Fruit and Other Short Stories.</p>
		</div>
		
	</div>
</div>

<style>
	body {
		background-color : #FFF;
	}
</style>