<div id="comments-modal" class="modal fade" role="dialog" style="display:none">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Comments</h4>
			</div>
			<div class="modal-body" id='modal-body'>

				<div id="comment-1">
					<p><a href="#" style="font-family: monospace">Paul Cupido</a> - 08/10/2016 at 09:43:01</p>
					<div class="comment-entry">

						<p id='modal-text'>While I'm not the biggest fan of the way that I did the world building in Light, I can't deny that the reception has been quite positive. Lucy Dusquesne/ Morgenstern feels like she's cut from the same cloth as Claire Ricrant but is going off in a different direction.
						</p>
					</div>
					<button type="button" class="btn btn-default" data-dismiss="modal">Reply</button>
				</div>
				<hr />
				<div id="comment-2">
					<p><a href="#" style="font-family: monospace">Paul Cupido</a> - 08/10/2016 at 09:50:37</p>
					<div class="comment-entry">
						<p id='modal-text'>There is a problem with the Valkyrian/ Valkynon language in that it is introduced and then dismissed quickly as Lucy decides to focus on trying to get out of her current predicament, only for the story to go into a journal entry straight after. I wanted to use a different textbook, other than <i>The Magical Practises</i>, and to have more world-building going on aside from how spells work. 
						</p>
					</div>
					<button type="button" class="btn btn-default" data-dismiss="modal">Reply</button>
					<div id="comment-reply" class="comment-entry">
						<hr />
						<p><a href="#" style="font-family: monospace">Paul Cupido</a>'s reply</p>
						<p id='modal-text'>
							It's works better than you think it does :)
						</p>
						<button type="button" class="btn btn-default" data-dismiss="modal">Reply</button>
					</div>
				</div>
				<div id="new-comments" style="display: none">
					<hr />
					<textarea rows="4" cols="75"> </textarea>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Comment</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>