<div class="container">
    <br/>
    <div class="col-md-4">
        <div class="panel panel-dashboard">
            <div class="panel-body">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for posts" />
                    <span class="input-group-btn">
                        <button class="btn btn-default">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>

        <div class="panel panel-dashboard">
            <div class="panel-body">
                <h4 style="color: white">Recent Posts</h4>
                    <div class="log-md-6">
                        <ul style="background-color: 337ab7; font-size: 80%">
                            <?php if (isset($recentPosts)) { foreach ($recentPosts as $key => $value) { ?>
                                <li><a href="#<?= $key ?>"><strong><?= $value; ?></strong></a></li>
                            <?php } }?>
                            <li><a href="#"><strong>Pure Light</strong></a></li>
                            <li><a href="#"><strong>From the Other Side</strong></a></li>
                            <li><a href="#"><strong>Phantom Dissonance</strong></a></li>
                            <li><a href="#"><strong>Mortal Kombat: Legacy</strong></a></li>
                            <li><a href="#"><strong>The Indifferent Sons</strong></a></li>
                            <li><a href="#"><strong>Metallic FIre</strong></a></li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="blog-posts" class="col-md-8">
        <?php
            $count = 0;

            if (isset($params['blogPosts']) && is_array($params['blogPosts']) && count($params['blogPosts']) > 0) {

                foreach ($params['blogPosts'] as $blogPost) { ?>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <a style="font-size: 20px; color: black" href="#"><strong><?= $blogPost['title']; ?></strong></a>
                            <p style="align:center">by <a href="#" style="font-family: monospace"><?= $blogPost['author']; ?></a></p>
                            <hr />
                            <p style="font-size: 12px"><?= $blogPost['description'] ?></p>
                            <hr />
                            <a id="read-post-<?= $blogPost['id'] ?>" value="<?= $blogPost['id'] ?>" class="btn btn-default btn-primary view-blog-post" href="index?m=post&a=view&id=<?=$blogPost['id']?>">Read more</a>
                            <a id="comment-post-<?= $blogPost['id'] ?>" class="btn btn-default" style="background-color: #FFF; color: #337ab7">View Comments</a>
                        </div>
                    </div>
                <?php } ?>

                <div class="col-md-offset-5" style="margin-bottom: 20px">
                    <a class="btn btn-default" style="background-color: #FFF; color: #337ab7">View More Stories</a>
                </div>

            <?php } else { ?>

                <p>No entries available at present. Please add a new blog post.</p>
 
            <?php } ?>       

    </div>

    <?php include('src/views/home/comments.html'); ?>


</div>
<!-- Add in a modal for the comments section and add some javascript for the searching (create the model and fill it in later) 
Create the post view and the authors view. Use a modal for the contact us section (or maybe just throw it in the footer)
-->
